{% extends 'base.html' %}

{% block content %}
    
<div class="container about">
	<div class="row">
		<h2>About</h2>
		<h4>This is a maintenance tool for greenhouse WSN network deployments.</h4>
		<p>Arthor: Xiaoqin Zhuang</p>
		<p>Contact: 209024@student.pwr.edu.pl</p>
	</div>
</div>	
{% endblock %}