<!DOCTYPE html>
<!-- Allow us to work with all static files-->
{% load staticfiles %}
{% load geojson_tags %}
<html>
  <head>
    <title>WSN MAINTAIN</title>	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	
	<!-- Local style file -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script
	<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  </head>
  <body>
    <!-- Fixed navbar -->
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock %}
	
	<div class="footer centered">
       <p class="text-muted">Copyright &copy 2015 PWr.</p>
    </div>
	
  </body>
</html>