{% extends 'base.html' %}

{% block content %}
{% load endless %}
	
<div class="container history">
	<div class="row">
		<div class="col-md-12">
		<h2>History</h2>
		{% paginate record_detail %}
		<div class="show-pages">		
		{% show_pages %}
		</div>
		<table class="table  table-striped table-hover">
			<tr>
				<th>ID</th>
				<th>Node number</th>
				<th>Operation</th>
				<th>Battery</th>
				<th>Room</th>
				<th>Location</th>
				<th>Time</th>
			</tr>	

		{% for detail in record_detail %}
		    <tr>
		    	<td>{{detail.id}}</td>
		    	<td>{{detail.nnumber}}</td>
		    	<td>{{detail.operation}}</td>
		    	<td>{{detail.battery_number}} </td>
		    	<td>{{detail.rumber}}</td>
		    	<td><b>Top:</b> {{detail.location_top}} <br />
		    	<b>Left:</b> {{detail.location_left}} <br />
		    	<b>Height:</b> {{detail.location_height}}</td>
		    	<td>{{detail.timestamp}}</td>
		    </tr>	
		{% endfor %}
		</table>
		</div>
	</div>
</div>
{% endblock %}