{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	
	<!--OpenLayer 3-->
	<link rel="stylesheet" href="http://openlayers.org/en/v3.3.0/css/ol.css" type="text/css">
	<!--Layer switcher-->
	<link rel="stylesheet" href="{% static 'css/ol3-layerswitcher.css' %}" type="text/css">
	<!--Popup API-->
	<link rel="stylesheet" href="{% static 'css/ol3-popup.css' %}" type="text/css">
	<!-- Openlayer and UMP -->
	<script type="text/javascript" src="http://openlayers.org/en/v3.3.0/build/ol.js" ></script>
	<script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
	<script type="text/javascript" src="http://mapa.ump.waw.pl/ump-www/lib/layers.js"></script>
	<script type="text/javascript" src="http://mapa.ump.waw.pl/ump-www/lib/map.js"></script>

	<div class="container main">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading wsn">
						<h3 class="panel-title">WSN nodes</h3>
						<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
					</div>
					<div class="panel-body">
						<h4 class="sensor-info">Node Operation</h4>	

						<div class="btn-group-vertical node-operation-group" role="group" aria-label="node-operation">
							{% if user.is_authenticated %}
							<a href='{% url "add_node" %}' class="btn btn-default btn-add" role="button">Add Node</a>							 
  							<a href='{% url "modify_node" %}' class="btn btn-default btn-modify" role="button" style="display:none;">Modify Node</a>
  							<form class="form-remove-node" method="POST">
  							  <input type="hidden" value="mapMenu" class="cur-view" />
						      <input type="hidden" value="1" class="cor-id" />
							  <button type="button" class="btn btn-default btn-remove-node" style="display:none;">Remove Node</button>
							</form>	
							{% else %}
							<p>Please sign in to do the operation.</p>
							{% endif %}
						</div>						
						<hr />
						<h4 class="sensor-info">Sensor Basis</h4>
						<p class='sensor-basis'>No sensor is selected.</p>
						<hr />
						<h4 class="sensor-info">Node Location</h4>
						<p class="node-location">No node is selected.</p>
						<div class="node-location-form" style="display:none;">			
						</div>
					</div>
				</div>
			</div>

			<!--Map is here!-->
			<div class="col-md-9">
				<div id="map"></div>
			</div>
	</div>
</div>

	<!--From ol3-->
	<!--Layer switcher API-->
	<script type="text/javascript" src="{% static 'js/ol3-layerswitcher.js' %}"></script>
	<!-- Popup API -->
	<script type="text/javascript" src="{% static 'js/ol3-popup.js' %}"></script>
	
	<!-- Local JavaScript files-->
	<script type="text/javascript" src="{% static 'js/sessvars.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/example-behaviour.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/nodes.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/layer-ctrl.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}