{% load activelink %}
{% load staticfiles %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='{% url "main" %}'>GREEN WSN</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
		    <li class='{% ifactive "main" %}active{% endifactive %}'><a href='{% url "main" %}'>Home</a></li>
       {% if user.is_authenticated %} 
        <li class="dropdown add-list">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" id="addSwither">
        <li><a href='{% url "add_node" %}' id="addNode">Add Node</a></li>
        <li><a href='{% url "add_batt" %}' id="addBatt">Add Battery</a></li>
        <li><a href='{% url "add_bg" %}' id="addBg">Add Background</a></li>
        {% if user.is_superuser %}
        <li><a href='{% url "add_user" %}'  id="addBg">Add User</a></li>
        {% endif %}
       </ul>
       </li>
       {% endif %}
      {% ifactive "main" %}
		    <li class="dropdown switch-bg">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Switch<span class="caret"></span></a>
			  <ul class="dropdown-menu" role="menu" id="switchBg">
				<li><a href="#" id="mapMenu">Map</a></li>
        {% for bg in backgrounds %}
        <li><a href="#" id="{{ bg.name }}">Image {{ bg.name }}</a></li>
        {% endfor %}
			 </ul>
			</li>
      {% endifactive %}
			<li class='{% ifactive "node" %}active{% endifactive %}'><a href='{% url "node" %}'>Nodes</a></li>
      <li class='{% ifactive "history" %}active{% endifactive %}'><a href='{% url "history" %}'>History</a></li>
      <li class='{% ifactive "about" %}active{% endifactive %}'><a href='{% url "about" %}'>About</a></li>
      {% if user.is_authenticated %} 
      <li><a href='{% url "logout" %}'>Sign out</a></li>
      {% else %}
      <li class='{% ifactive "login" %}active{% endifactive %}'><a href='{% url "login" %}'>Sign in</a></li>
      {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>