
{% extends 'base.html' %}
{% block content %}
<div class="container add-node">
	<div class="row centered">
		<div class="col-md-6 col-md-offset-3">
		  <div class="error"></div>
		  <h3>Add Node</h3>
			<form class="form-add-node" method="post" action="/node/add_node/">
			{% csrf_token %}
			<table class="table">
				{{ form.as_table }}
			</table>
			<button type="submit" class="btn btn-primary btn-gh btn-add-node">Add</button>
			
			</form>
		  </div>
	</div>
</div>
{% endblock %}