{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container add-node">
	<div class="row centered">
		<div class="col-md-6 col-md-offset-3">
		<div class="error"></div>
		  <h3 class="title-modify-node">Modify Node</h3>
       		<form class="form-modify-node" method="post" action="/node/modify_node/">
			{% csrf_token %}
			<table class="table">
			  {{form.as_table}}				
			  <tr class="centered">
				<td colspan="2"> 
					<button type="submit" class="btn btn-primary btn-modify-node">Modify</button>
				</td>
			  </tr>
			</table>
			</form>
		  </div>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/sessvars.js' %}"></script>
<script type="text/javascript">
	// let's show data passed from main page into the form
	var node = sessvars.node;

	if(node !== undefined){
		var title = "Modify Node " + node.number;

		$('#id_node_id').val(node.id);
		$('.title-modify-node').html(title);

		// set the value with same text
		$('#id_room option:contains(' + node.room + ')').each(function(){
		    if ($(this).text() == node.room) {
		        $(this).attr('selected', 'selected');
		        return false;
		    }
		    return true;
		});

		$('#id_battery option:contains(' + node.batt[1] + ')').each(function(){
		    if ($(this).text() == node.batt[1]) {
		        $(this).attr('selected', 'selected');
		        return false;
		    }
		    return true;
		});


		$('#id_top').val(node.top);
		$('#id_left').val(node.left);
		$('#id_height').val(node.height);
	}
	
	$('.btn-modify-node').click(function(){
	  var node_id = sessvars.id;
	  // get values after modifying
	     
	});


	$.ajax({
    	url : "/node/node_info",
    	type: "GET",
    	success: function(info)
    	{
    		var json_obj = $.parseJSON(info);

      		for (var i in json_obj){
        		var battery = json_obj[i].fields.battery; 

        		// removed used battery options.
        		$("#id_battery > option").each(function() {
        			if(this.value == battery[0] && this.value != node.batt[0]){
        				this.remove();
        			}
      			});
      		}

    	},
    	error: function (info)
    	{
       		//TODO: some prompt for error?
    	}
  	});
</script>
{% endblock %}
