{% extends 'base.html' %}
{% block content %}
{% load endless %}
<div class="container node">
	<div class="row">
		<div class="col-md-12">
		<h2>Nodes</h2>
		{% paginate node_detail %}
		<div class="show-pages">		
		{% show_pages %}
		</div>
		<table class="table table-striped table-hover node-list">
			<tr>
				<th>ID</th>
				<th>Number</th>
				<th>Battery</th>
				<th>Room</th>
				<th>Location</th>
				<th>View Map</th>
			</tr>	

		{% for detail in node_detail %}
			<tr>
				<td>{{detail.id}}</td>
				<td>{{detail.number}}</td>
				<td>{{detail.battery.number}}</td>
				<td>{{detail.nodelocation.room.rnumber}}</td>
				<td>
					<b>Top:</b> {{detail.nodelocation.top}} <br />
					<b>Left:</b> {{detail.nodelocation.left}} <br />
					<b>Height:</b> {{detail.nodelocation.height}} <br />
				</td>
				<td>
					<button type="button" class="btn btn-default btn-zoom-{{detail.id}}" value="{{detail.number}}">Map</button>
				</td>
			</tr>	
		{% endfor %}
		</table>
		
		</div>
	</div>
</div>

<script type="text/javascript">	
	$("body").on('click', 'button', function(event) {
	  var button = $(event.target);
	  // here we pass feature id to main page inorder to show popover there.
      var url = "/?src=" + encodeURIComponent(button.val());
	  window.location.href = url;
	});
</script>
{% endblock %}