{% extends 'base.html' %}
{% block content %}

<div class="container add-room">
	<div class="row centered">
		<div class="col-md-6 col-md-offset-3">
		  <div class="error"></div>
		  <h3>Add Room</h3>
			<form class="form-add-room" method="post" action="/room/add_room/">
			{% csrf_token %}
			<table class="table">
				{{ form.as_table }}
			</table>
			<button type="submit" class="btn btn-primary btn-gh btn-add-room">Add</button>
			
			</form>
		  </div>
	</div>
</div>
{% endblock %}