{% extends 'base.html' %}
{% block content %}

<div class="container add-bg">
	<div class="row centered">
		<div class="col-md-6 col-md-offset-3">
		  <div class="error"></div>
		  <h3>Add Background</h3>
			<form class="form-add-bg" method="post" action="/room/add_bg/">
			{% csrf_token %}
			<table class="table">
				{{ form.as_table }}
			</table>
			<button type="submit" class="btn btn-primary btn-gh btn-add-bg">Add</button>
			
			</form>
		  </div>
	</div>
</div>
{% endblock %}