{% extends 'base.html' %}
{% block content %}

<div class="container login centered">
	<div class="row">
		<div class="col-md-4 col-sm-offset-4">
			<h3>Sign in</h3>
			{% if form.errors %}
			<p class="error-form">Sorry, that's not a valid username or passowrd.</p>
			{% endif %}
			    
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
				<table class="table">
					{{ form.as_table }}
				</table>

				<button type="submit" class="btn btn-primary btn-gh">Login</button>
				<input type="hidden" name="next" value="/" />
			</form>
		</div>
	</div>
</div>
{% endblock %}